<!DOCTYPE html>
<html>
<head>
<title>珍爱网-首页</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/style.css" rel="stylesheet" media="screen">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/css/style.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" media="screen" href="/bootstrap/datapicker/css/bootstrap-datetimepicker.min.css">
<link href="/js/lightbox/css/lightbox.css" rel="stylesheet" />
</head>
<body>
<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			 <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a> <a href="#" class="brand">珍爱网</a>
			<div class="nav-collapse collapse navbar-responsive-collapse">
				<ul class="nav">
					<li class="active">
						<a href="#">主页</a>
					</li>
					<li>
						<a href="#">帮助</a>
					</li>
					<li>
						<a href="#">关于</a>
					</li>
				</ul>
				<ul class="nav pull-right">
					<li class="divider-vertical">
					</li>
					<li class="dropdown">
						 <a data-toggle="dropdown" class="dropdown-toggle" href="#"><%= userName %><strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#">用户简介</a>
							</li>
							<li>
								<a href="#">修改密码</a>
							</li>
							<li>
								<a href="#">其他</a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="#">退出</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
</div>

<div class="container-fluid main_content">
	<div class="row-fluid">
		<div class="span12">
			<div class="tr">
				<a id="modal-695810" href="#modal-container-695810" role="button" class="btn btn-info" data-toggle="modal">创建婚礼</a>
			</div>
			
			
			<div id="modal-container-695810" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">
						创建婚礼
					</h3>
					
				</div>
				<div class="modal-body">
					    <form class="form-horizontal" id="add_wedding_form">
							<div class="control-group">
								<label class="control-label">男方：</label>
								<div class="controls">
									<input id="boy" type="text" placeholder="男方姓名">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">女方：</label>
								<div class="controls">
									<input id="girl" type="text" placeholder="女方姓名">
								</div>
							</div>
							<div class="control-group">
								<label for="" class="control-label">日期：</label>
								<div class="controls">
									<input type="text" placeholder="日期" id="datetimepicker"/>
								</div>
							</div>
							<div class="control-group">
								<label for="" class="control-label"></label>
								<div class="controls">
									<button type="submit" class="btn btn-primary" data-loading-text="正在加载">创建</button>
								</div>
							</div>
							
						</form>
				</div>
				<div class="modal-footer tc">
					
				</div>
			</div>
			<table class="table wedding_list">
				<thead>
					<tr>
						<th width="150">
							邀请码
						</th>
						<th>
							婚照
						</th>
						<th>
							新郎新娘
						</th>
						<th>
							日期
						</th>
						<th>
							操作
						</th>
					</tr>
				</thead>
				<!--<% if (weddings){ %>
						<% weddings.forEach(function(wedding){ %>
							<tr>
								<td>
									<%= wedding.get('sweetcode') %>
								</td>
								<td>
									<a href="<%= wedding.get('couple').get('weddingcover').url() %>" data-lightbox="demo" title="<%= wedding.get('couple').get('boy') %>& <%= wedding.get('couple').get('girl') %>"><img src="<%= wedding.get('couple').get('weddingcover').url() %>" class="img-polaroid" alt="" style="width:100px;" /></a>
								</td>
								<td>
									<%= wedding.get('couple').get('boy') %>& <%= wedding.get('couple').get('girl') %>
								</td>
								<td>
									<%= wedding.get('holdAt') %>
								</td>
								<td>
									<a href="./wedding?id=<%= wedding.objectId %>">编辑</a>
									<a href="#del_confirm" class="del_wedding" role="button" data-toggle="modal">删除</a>
								</td>
							</tr>
							<p style="display:none;"><%= JSON.stringify(wedding)%></p>
					<%	})%>
					<% }%>
						-->
				<tbody id="wedding_list">
					
				</tbody>
			</table>
			
			<div id="del_confirm" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">
						提示
					</h3>
					
				</div>
				<div class="modal-body">
					<p>你确定要删除？删除后不可恢复！</p>
				</div>
				<div class="modal-footer">
					<button contenteditable="true" aria-hidden="true" data-dismiss="modal" class="btn">取消</button>
					<button class="btn btn-primary do_del_wedding"  data-loading-text="确定...">确定</button>
				</div>
			</div>
			
			<div class="pagination fr">
				<ul>
					<li>
						<a href="#">上一页</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">下一页</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://zhenyouai.avosapps.com/bootstrap/datapicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cn.avoscloud.com/scripts/lib/av-0.2.7.min.js"></script>
<script src="/js/common.js"></script>
<script type="text/javascript">
        AV.initialize("fe8r9l7ml0ib0ycsh03olv9qcxtay51v3jdtbg5u78m4s7vr", "r345znn0o1c3mfx11u49rn5mwqsty5h0xfb3pe3u3rumzbt2");
</script>
<script type="text/javascript">
	function createTpl(str, cfg) {
		var _re = /(%([\w]+?)%)/g;
		
		return str.replace(_re, function() {
			var _val = cfg[arguments[2]]+'';
			if(typeof _val == 'undefined') {
				_val = '';
			}
			return _val;
		});
	}
	
	function init(){
		var Wedding = AV.Object.extend('Wedding');
		var query = new AV.Query(Wedding);
		query.skip(0);
		query.limit(10);
		query.descending('createdAt');
		query.include("couple");
		
		query.find({
			success: function(results){
				var _html = '';
				var tpl = ['<tr>',
							'<td>%sweetCode%</td>',
							'<td><a title="%boy%&%girl%" data-lightbox="demo" href="%img%" target="blank"><img style="width:90px;" alt="" class="img-polaroid" src="%img%?imageView/2/w/100"></a></td>',
							'<td>%boy%&%girl%</td>',
							'<td>%time%</td>',
							'<td><a href="./wedding?id=%id%">编辑</a><a data-toggle="modal" role="button" class="del_wedding ml20" href="#del_confirm?id=%id%">删除</a></td>',
							'</tr>'
							].join('');
				for (var i=0,len=results.length; i<len; i++){
					var obj = results[i];
					var id = obj.id;
					var couple =  obj.get('couple');
					var boy = couple.get('boy');
					var girl = couple.get('girl');
					var time = obj.get('holdAt').toLocaleString();
					var sweetCode = obj.get('sweetcode');
					var img = couple.get('weddingcover').url()
					_html += createTpl(tpl,{id:id,img:img,boy:boy,girl:girl,sweetCode:sweetCode,time:time});
				}
				$('#wedding_list').html(_html);
			},
			error: function(error){
				console.log(error);
			}
		});
		
	}
	
	init();

	$('#add_wedding_form').submit(function(){

		var boy = $('#boy').val();
		var girl = $('#girl').val();
		var time = $('#datetimepicker').val();
		
		var Wedding =  AV.Object.extend('Wedding');
		var Couple =  AV.Object.extend('Couple');
		var Flow =  AV.Object.extend('Flow');
		var Video =  AV.Object.extend('Video');
		var Location =  AV.Object.extend('Location');
		var Invitationcard =  AV.Object.extend('Invitationcard');
		
		
		var wedding = new Wedding();
		var couple = new Couple();
		var flow = new Flow();
		var video = new Video();
		var location1 = new Location();
		var couple = new Couple();
		var invitationcard = new Invitationcard();
		
		couple.set('boy',boy);
		couple.set('girl',girl);
	
		wedding.set('sweetcode','0000000');
		wedding.set('couple',couple);
		wedding.set('flow',flow);
		wedding.set('video',video);
		wedding.set('location',location1);
		wedding.set('holdAt',new Date(time));
		//wedding.set('invitationcard',invitationcard);
		
		wedding.save(null,{
			success: function(wedding){
				var id = wedding.id;
				location.href = "./wedding?id="+id;
			},
			error: function(couple,error){
				alert('Failed to create new object, with error code: ' + error.description);
			}
		});
		
		return false;
	});
</script>
    <script type="text/javascript">
      $('#datetimepicker').datetimepicker({
        format: 'MM/dd/yyyy hh:mm',
        language: 'en',
        pickDate: true,
        pickTime: true,
        hourStep: 1,
        minuteStep: 15,
        secondStep: 30,
        inputMask: false
      });
	  
	  $('.del_wedding').bind('click',function(){
		
	  });
    </script>
</body>
</html>
